<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="/users/register" method="post">
        <input type="text" name="email" placeholder="please input your email">
        <input type="text" name="username" placeholder="please input your username">
        <input type="password" name="password" placeholder="please input your password">
        <input type="password" name="confirm" placeholder="please input your confirm password">
        <input type="submit" value="注册">
    </form>
</body>
</html>